/*sezione 2 items*/
.list-items {
    background-color: blue;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 15px;
    padding: 30px;
}

.list-items li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-items img {
    width: 20%;
}

/*sezione 2 dei links*/
.container-img-footer {
    background-image: url(/img/dc-logo-bg.png);
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-footer-links {
    display: flex;
    justify-content: space-around;
    background-image: url(/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.container-section-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.list-links {
    width: calc(33.33% - 20px);
}

.list-links ul {
    list-style: none;
    padding-top: 5px;

}

/*sezione 3 links social*/
.section-footer-social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(57, 56, 56);
}

.footer-icon-social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-icon-social ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;

}

.botton-social {
    background-color: rgb(57, 56, 56);
    color: white;
    border: solid 2px;
    border-color: blue;
    padding: 5px;
}