.header {
    background-color: white;
}

.header-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-list {
    display: flex;
    list-style: none;
    gap: 15px;
    color: black;
}